@import "../../../styles/global-css-settings.scss";

.monday-style-story-avatar {
  &_states {
    display: flex;
    align-items: center;
  }
  &_state {
    margin-left: $spacing-medium;
  }
  &_multiplue {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f6f8;
    padding: 10px 20px 10px 20px;
    .monday-style-avatar {
      margin: -8px;
    }
  }
}
